{% extends 'layout/base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Signup form </h2>
            <hr>
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.name.label(class='form-control-label') }}
                    {{ form.name(class='form-control', placeholder='enter name') }}
                </div>
                <div class="form-group">
                  {{ form.email.label(class='form-control-label') }}
                    {{ form.email(class='form-control', placeholder='enter email') }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='form-control-label') }}
                    {{ form.password(class='form-control', placeholder='enter password') }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class='form-control-label') }}
                    {{ form.confirm_password(class='form-control', placeholder='enter confirm password') }}
                </div>
                <div class="form-group">
                    {{  form.recaptcha }}
                </div>
                <div class="form-group">
                    <input type="submit" value="sign up" class="form-control btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}